.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.3)),url(../assets/imgs/background.webp);
    background-position: center;
    background-size: cover;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    color: white;
}
.hero h1 {
    font-size:xx-large;
    margin-bottom: 0;
}